*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #444;
    color: #fff;
}

.wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1150px;
    margin: 20px auto;
    padding: 0 20px;
}

.wrapper .buttons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 20px;
}


.wrapper .buttons .btn{
    padding:  0 10px;
    display: flex;
    background-color: #000000;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
    width: 50px;
    border-radius: 50%;
}

.wrapper .buttons .btn.active{
background-color: rgba(0, 255, 255, 0.536);
}


.wrapper .buttons .btn:nth-child(2){
font-size: 1.5em;
}

.wrapper .buttons .btn:nth-child(3){
    font-size: 2em;
}

.wrapper .content{
    font-size: 1em;
    color: bisque;
    line-height: 30px;
    transition: 0.5s;
    text-align: justify;
}

.wrapper.content h2,
.wrapper.content p{
    transition: 0.5s;
    margin-bottom: 25px;
}
