*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abril Fatface', cursive;
}
 nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
    background-color: #453653;
 }

.carousel-caption{
   bottom: 220px;
}

.carousel-caption h5{
font-size: 45px;
text-transform: capitalize;
letter-spacing: normal;
margin-top: 25px;
}

.carousel-caption p{
   width: 60%;
   margin: auto;
   font-size: 18px;
   line-height: 1.9;
}

.carousel-caption a{
   text-transform: capitalize;
   text-decoration: none;
   padding: 10px 30px;
   display: inline-block;
   color: #fff;
}

#navbar ul { 
	margin: 0; 
	padding: 5px; 
   list-style: none;
	text-align: center; 
	background-color: #000; 
	} 
   

nav ul li{
   display: inline-block;
   list-style: none;
   margin: 10px 30px;
   text-align: right;
}

nav ul li a{
   color: #C7AFC8;
   text-decoration: none;
   position: relative;
}

nav ul li a::after{
   content: ' ';
   width: 50%;
   height: 3px;
   position: absolute;
bottom: -5px;
left: 50%;
transform: translateX(-50%);
background-color: #C7AFC8;
transition: width 0.3s ;
}

nav ul li a:hover:after{
   width: 50%;
}

.logo{
   width: 60px;
   cursor: pointer;
}

.bag-heart {
  width: 25px;
  cursor: pointer;
}

body{
  font-family: 'Abril Fatface', cursive;
}