*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abril Fatface', cursive;   
    transition: .2s linear;
}
/*Navigation Bar*/
nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 2px 0;
    background-color: #453653;
}

#navbar ul { 
    margin: 0; 
    padding: 5px; 
    list-style: none;
    text-align: center; 
    background-color: #000; 
} 

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
    text-align: right;
}
/*Navigation Bar Hover*/
nav ul li a{
    color: #C7AFC8;
    text-decoration: none;
    position: relative;
}

nav ul li a::after{
    content: ' ';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #C7AFC8;
    transition: width 0.3s ;
}

nav ul li a:hover:after{
    width: 50%;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem;
}
/*logo*/
.logo{
    width: 80px;
    cursor: pointer;
    margin-right: auto;
}

.bag-heart {
    width: 25px;
    cursor: pointer;
}
body{
    font-family: 'Abril Fatface', cursive;
    background: #C1E3ED;
}
/*Paragraph*/
p {
    margin: 20px 0 50px 0;
    line-height: 25px;
    font-family: 'Nixie One', cursive;
}

/*White Container*/
.container{
    max-width: 75%;
    margin: auto;
    height: 100vh;
    margin-top: 5%;
    background-color: white;
    box-shadow: 5px 5px 10px 3px rgba(32, 52, 34, 0);

}
.left, .right{
    width: 50%;
    padding: 30px;
}

.flex{
    display:flex;
    justify-content: space-between;
}

.flex1 {
    display: flex;
}

.right{
    padding: 50px 100px 50px 50px;
}
/*Header 3*/
h3{
color:#C1E3ED;
margin: 20px 0 20px 0;
font-size:25px;
}
/*Header 5 paragraph*/
h5,p,small {
    color:#837d7c;
}
/*Header 4*/
h4 {
    color:red;
}
/*Paragraph*/
p {
    margin: 20px 0 50px 0;
    line-height: 25px;
}
/*Header 5*/
h5{
    font-size:15px;
}
/*Add to Cart button*/
button{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #C1E3ED;
    color: white;
    margin-top: 20%;
    border-radius: 30%;
}

/*Button setup in offcanvas*/
.btn.btn-primary{
    --bs-btn-bg: #453653;
    --bs-btn-hover-bg: #C79FC8;
    --bs-btn-hover-border-color: #453653;
    --bs-btn-border-color: #453653;
}

/*Quantity*/
.wrapper{
    height: 50px;
    min-width:150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 12px;
}

.wrapper.span{
width: 100%;
text-align: center;
font-size: 55px;
font-weight: 600;
cursor: pointer;
}

.wrapper span.num{

    border-radius: 2px solid rgba(0,0,0,0.2);
    pointer-events: none;
}

.span{
    cursor: pointer;
}

label,
.add span,
.color span {
    width: 25px;
    height: 25px;
    background-color:#1c5048;
    border-radius:50%;
    margin: 30px 10px 30px 0px;
}

.color span:nth-child(2) {
    background-color: #ededed;
}

.add label,
.add span{
    background: none;
    border: 1px solid #C1E3ED;
    color:#C1E3ED;
    text-align:25px;
    line-height: 25px;
    text-align: center;
}

.add label{
    padding: 10px 30px 0 20px;
    border-radius: 50px;
    line-height: 0;
}

.plus{
    font-weight: 1000;
}
.minus{
    font-weight: 1000;
}