/*Website*/
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Abril Fatface', cursive;   
   transition: .2s linear;
}
/*Backgound color and Typeface*/
body{
   font-family: 'Abril Fatface', cursive;
      background-color: #C7AFC8;
   }

/*Navigation Bar*/
nav{
   display: flex;
   width: 100%;
   align-items: center;
   flex-wrap: wrap;
   padding: 2px 0;
   background-color: #453653;
}
.text-box{
   color: #fff;
   position:absolute;
   bottom: 8%;
}

.text-box p{
   font-size: 100%;
   font-weight: 120;
}

.text-box h5{
   font-size: 190px;
   line-height: 160px;
   margin-left: -10px;
}

#navbar ul { 
	margin: 0; 
	padding: 5px; 
   list-style: none;
	text-align: center; 
	background-color: #000; 
	} 

nav ul li{
   display: inline-block;
   list-style: none;
   margin: 10px 30px;
   text-align: right;
}
/*Navigation Bar Hover*/
nav ul li a{
   color: #C7AFC8;
   text-decoration: none;
   position: relative;
}

nav ul li a::after{
   content: ' ';
   width: 0;
   height: 3px;
   position: absolute;
bottom: -5px;
left: 50%;
transform: translateX(-50%);
background-color: #C7AFC8;
transition: width 0.3s ;
}

nav ul li a:hover:after{
   width: 50%;
}

dl, ol, ul {
   margin-top: 0;
   margin-bottom: 0rem;
}

/*Logo*/
.logo{
   width: 80px;
   cursor: pointer;
   margin-right: auto;
}

.bag-heart {
width: 25px;
cursor: pointer;
}

/*End Navigation Bar*/

/*Home Landing Page*/

/*Carousel*/
.carousel-item{
   height: 580px;
}

.carousel-imgs{
   height: fit-content;
   object-fit: cover;
   filter: brightness(0.7);
}

.carousel-caption h1{
font-size: 70px;
text-transform: capitalize;
letter-spacing: normal;
}

.carousel-caption p{
   width: 60%;
   margin: auto;
   font-size: 20px;
   line-height: 1.9;
}

.carousel-caption a{
   text-transform: capitalize;
   text-decoration: none;
   padding: 10px 30px;
   display: inline-block;
   color: #fff;
   margin-top: 15px;
}
.carousel-inner h1{
   align-items: center;
   }
   
   .carousel-inner img{
      object-fit: fill;
   filter: brightness(0.7);
   }

/*End Carousel*/

/*Container Strip*/
.container-strip{
   position: relative;
   width: 100%;
   max-width: auto;
}

.container-strip img {

   height: fit-content;
   object-fit: cover;
   height: 500px;
}

.container-strip .btn {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   background-color: #453653;
   color: white;
   font-size: 16px;
   padding: 12px 24px;
   border: none;
   cursor: pointer;
   border-radius: 5px;
   text-align: center;
}
.container-strip .btn:hover {
   background-color: #C7AFC8;
}
/*End Container Strip*/

/*Social media Icons*/
.iconsContainer .icons{
   display: grid;
   grid-template-columns: repeat(5,1fr);
   grid-gap: -1rem 1rem;
   margin-bottom: 2%;
}

   .iconsContainer .icons.bi{
      cursor: pointer;
      font-size:40px;
      padding: 1.5rem 2rem;
      border-radius: 50%;
   }

   .icon:hover{
      width: 400px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      color: #fff;
}
.icon:hover i{
      color: #fff;
}

.card-title{
   color: #fff;
   margin-left: 45%;
}

/*Video Section*/
.card-title {
   color: #fff;
   margin: 0 auto;
   grid-row: 1;
   grid-column: 1/-1;
}

/*Video Section*/

.video-header {
   background-color: #453653;
   height: 350px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 2fr;
   place-items: center;
}

.video-header video {
   margin: auto;
   margin-bottom: 10%;
}
   
      /*International tourdates*/
.Tourdates{
   background-color: #453653;
   height: 900px;
   width: auto;
}

   .Tourdates img{
      margin-left: 28%;
   }
   
   .Tourdates-title{
      margin-left: 35%;
   }
/*End International tourdates image*/

/*____mission card container____*/

.wrapper{
   margin: 110px auto;
   width: 0%;
}

.card-header{
   background-color: #453653;
   height: 100px;
}

/*____mission card container "Her Career" in about page____*/
.card-header-news{
   background-color: #45365391;
   height: 500px;
}

/*____mission1 img____*/
.mission1 img{
   float: left;
   width: 40%;
   height: 40%;
   background-size: contain;
   background-origin: content-box;
}

.mission1 {
   width: 80%;
   margin: auto;
   text-align: center;
   padding-top: 50px;
}

/*____mission card container 2nd Social in about page____*/
.card-header-news2{
   background-color: #453653;
   height: 500px;
}

/*____mission2 img____*/
.mission2 img{
   float: right;
   width: 40%;
   height: 40%;
}

.mission2 {
   width: 80%;
   margin: auto;
   text-align: center;
   padding-top: 50px;
}

/*____mission1 img____*/
.mission img{
   float: right;
   width: 20%;
   height: 20%;
padding: 5px;
}

h1{
   font-size: 40px;
   font-weight: 600;
   color: #fff;
   align-items: center;
}

/*____paragragh____*/
p{
font-family: 'Courier New', Courier, monospace;
color: #fff;
font-weight: 300;
line-height: 22px;
text-align: center;
}
/*Footer*/
section{
   min-height: 90vh;
   width: 80%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}

/*Album Gallery Section*/
.Font{
   margin-left: 43%;
   color: #fff;
   }

.section header{
   margin-top: 80%;
   color: #C1E3ED;
   text-align: center;
   font-size: 40px;
   font-weight: 700;
   text-transform: capitalize;
   letter-spacing: 10rem;
}

.underline{
   border: 1px solid#fff;
   width: 10rem;
   margin: 0 auto;
   align-items: center;
   margin-bottom: 40px;
}

.album-gallery{
height: 200%;
max-width: 100%;
display: grid;
position: absolute;
grid-template-columns: 320px 320px 320px;
align-content: space-evenly;
gap: 1rem;
margin-left: 12.5%;
padding:10px;
}

.album-gallery .gallery-item{
   position: relative;
   float: left;
   overflow: hidden;
   background-color: #fff;
   min-width: 160px;
   max-width: 290px;
   min-height: 180px;
   width: 48%;
   margin:  0px 1%;
   border-radius: 1.5rem;
   cursor: pointer;
}

.album-gallery .gallery-item img{
   width: 105%;
   height:200px;
   display: block;
   position: relative;
   opacity: 0.7;
   transition: opacity 0.20s, transform 0.35s;
   transform: translate3d(-15px, 0px, 0px);
   backface-visibility: hidden;
}

.album-gallery .gallery-item:hover img{
   opacity: .5;
   transform: translate3d(0px, 0px, 0px);
}

/*album gallery caption*/
.album-item-caption {
   color: #453653;
   padding: 1rem;
   text-transform:capitalize;
   font-size: 1.00em;
   text-align: left;
   position: absolute;
   top:0;
   left:0;
}

.album-gallery .gallery-item h2{
font-weight: 300;
overflow: hidden;
padding: 0.1rem 0;
}

.album-gallery .gallery-item h2,
.album-gallery .gallery-item p{
   position: relative;
   margin: 0;
   z-index: 10;
}

.album-gallery .gallery-item h2::after{
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 15%;
height: 1px;
background: #fff;
transition: transform 0.3s;
transform: translate3d(-100px, 0px, 0px);
}

.album-gallery .gallery-item:hover h2::after{
transform: translate3d(0px, 0px, 0px);
}

/*album gallery paragraph*/
.album-gallery .gallery-item p{
letter-spacing: 1px;
font-size: 50%;
padding: 1em 0;
opacity: 0;
transition: opacity 0.35, transform 0.35s;
transform: translate3d(20%, 0px, 0px);
color: #453653;
font-weight: 400;
}

.album-gallery .gallery-item:hover p{
opacity: 1;
transform: translate3d(0px, 0px, 0px);
   }

/*End Album Gallery section*/

/*Gossip Lane section*/
.section header{
   margin-top: 80%;
   color: #C1E3ED;
   text-align: center;
   font-size: 40px;
   font-weight: 700;
   text-transform: capitalize;
   letter-spacing: 10rem;
   margin-bottom: 15px;
}

.underline{
   border: 1px solid#fff;
   width: 10rem;
   margin: 0 auto;
   align-items: center;
   margin-bottom: 30px;
}

.Font {
   margin-left: 43%;
   color: #fff;
   margin-top: 40%;
}

.main-timeline {
   margin-left: 13%;
   margin-right: 13%;
   position: relative;
}

.video-gallery{
height: 100%;
max-width: 100%;
display: grid;
position: absolute;
grid-template-columns: 320px 320px 320px;
align-content: space-evenly;
gap: 3rem;
margin-left: 12.5%;
padding:10px;
}

.video-gallery .gallery-item{
   position: relative;
   float: left;
   overflow: hidden;
   background-color: #fff;
   min-width: 160px;
   max-width: 290px;
   min-height: 180px;
   width: 48%;
   margin:  0px 1%;
   border-radius: 1.5rem;
   cursor: pointer;
}

.video-gallery .gallery-item img{
   width: 105%;
   height:200px;
   display: block;
   position: relative;
   opacity: 0.7;
   transition: opacity 0.20s, transform 0.35s;
   transform: translate3d(-15px, 0px, 0px);
   backface-visibility: hidden;
}

.video-gallery .gallery-item:hover img{
   opacity: .5;
   transform: translate3d(0px, 0px, 0px);
}

.gallery-item-caption {
   color: #453653;
   padding: 1rem;
   text-transform:capitalize;
   font-size: 1.25em;
   text-align: left;
   position: absolute;
   top:0;
   left:0;
}

.video-gallery .gallery-item h2{
font-weight: 300;
overflow: hidden;
padding: 0.1rem 0;
}

.video-gallery .gallery-item h2,
.video-gallery .gallery-item p{
   position: relative;
   margin: 0;
   z-index: 10;
}

.video-gallery .gallery-item h2::after{
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 15%;
height: 1px;
background: #fff;
transition: transform 0.3s;
transform: translate3d(-100px, 0px, 0px);
}

.video-gallery .gallery-item:hover h2::after{
transform: translate3d(0px, 0px, 0px);
}

.video-gallery .gallery-item p{
letter-spacing: 1px;
font-size: 68%;
padding: 1em 0;
opacity: 0;
transition: opacity 0.35, transform 0.35s;
transform: translate3d(20%, 0px, 0px);
}

.video-gallery .gallery-item:hover p{
opacity: 1;
transform: translate3d(0px, 0px, 0px);
   }

/*End of Gossip lane section*/

/*Start FAQ'S*/
.faq{
   max-width: 700px;
   margin-top: 2rem;
   padding-bottom: 1rem;
   border-bottom: 2px solid #fff;
   cursor: pointer;
}

.faq.active .answer{
   max-height: 300px;
   animation: fade 1s ease-in-out;
}

.faq.active svg{
   transform: rotate(180deg);
}

svg{
   transition: transform 0.5s ease-in;
}

.title{
   font-size: 3rem;
   margin: 2rem 0rem;
   color: #453653;
}

.question{
   display:flex;
   justify-content: space-between;
   align-items: center;
   }
   
/*FAQ's Subheaders title */
   .question h3{
      font-size: 1.8rem;
      color: #453653;
   }
   
   .answer{
      max-height: 0;
      overflow: hidden;
      transition: max-height 1.4s ease;
   }
   
/*FAQ's Answers paragraph */
   .answer p{
      padding-top: 1rem;
      line-height: 1.6;
      font-size: 1.4rem;
      color: #453653;
   }
   
/*FAQ's background colour container */
   .card-header-faq{
      background-color: #C1E3ED;
      height: 600px;
   }

/*End of FAQ's */


@keyframes fade{
   from{
      opacity: 0;
      transform: translate(-10px);
   }
   to{
      opacity: 1;
      transform: translateY(0px);
   }
   }

/*Button setup in offcanvas add to cart*/
   .btn.btn-primary{
      --bs-btn-active-border-color: #453653;
      --bs-btn-active-bg: #C79FC8;
      --bs-btn-bg: #453653;
      --bs-btn-hover-bg: #C79FC8;
      --bs-btn-hover-border-color: #453653;
      --bs-btn-border-color: #453653;
}

button{
   padding: 5px;
   border: none;
   outline: none;
   background-color: #C7AFC8;
   color: white;
   border-radius: 30%;
}

.offcanvas-body.h3{
color: #C79FC8;
}

/*Accesbility Tool*/
.wrapper{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 150px;
   margin: 20px auto;
   padding: 0 20px;
}

.wrapper .buttons{
   width: 100%;
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   margin-bottom: 20px;
   float: right;
}


.wrapper .buttons .btn{
   padding:  0 10px;
   display: flex;
   background-color: #000000;
   color: #fff;
   margin-left: 10px;
   cursor: pointer;
   width: 50px;
   border-radius: 50%;
}

.wrapper .buttons .btn.active{
background-color: rgba(0, 255, 255, 0.536);
}


.wrapper .buttons .btn:nth-child(2){
font-size: 1.5em;
}

.wrapper .buttons .btn:nth-child(3){
   font-size: 2em;
}

.wrapper .content{
   font-size: 1em;
   color: bisque;
   line-height: 30px;
   transition: 0.5s;
   text-align: justify;
}

.wrapper.content h2,
.wrapper.content p{
   transition: 0.5s;
   margin-bottom: 25px;
}

.card-header{
   background-color: #453653;
   height: 500px;
}
.wrapper{
   margin: 150px auto;
   width: 70%;
}
/*End Accesbility Tool*/

.mobile-hide.img{
   width: 30%;
   height: auto;
}
